<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">-->
	<!-- Bootstrap core CSS -->
	<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">-->
	<!-- Material Design Bootstrap -->
	<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<title>Sentiment Predictor</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<nav class="navbar">
		<div class="brand-name"><a href="/">Sentiment Predictor</a></div>
		<a href="#" class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<div class="navbar-links">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="https://github.com/shivamprakashsp/Sentiment_Analysis/blob/main/TweetsSentimentPredictions.ipynb">About</a></li>
			</ul>
		</div>
	</nav>
	<br/>
    <br/>

	<div class="jumbotron">
	    <div class="container">
	      <h2 class="sentiment_predictor">Sentiment Predictor</h2>
		  <br>
	      <p class="using-bi-lstm-model">Using Bi-Lstm Model </p>
	      <p class="refresh-btn"><a href="/" role="button">Refresh &raquo;</a></p>
	    </div>
	 </div>

	 <div class="text-area-container">
		<form method="POST" action="/predict">
			<label for="form18" class="label-text">Enter text for sentiment prediction</label><br>
			<textarea id="form18" type="text" name="rawtext"></textarea><br>
			<button type="reset">Clear</button>
			 <a href="#pre"><button type="submit">Predict</button></a>
		</form>
	 </div>

	 <div class="original-text_predition-container" >
		<div class="row" id="pre">
			<div class="original-text-container">	
			  <div id="custom_card">
				  <h4>Original Text</h4>
				  <div class="card-1">
				    <p>{{ rawtext }}</p>
				  </div>
			  </div>
			</div>
			<div class="predition-container">
				<div id="custom_card2">
					  <h4>Prediction</h4>
					<div class="alert alert-success card-2" role="alert"><p>{{ result }}</p></div>
				</div>
			</div>
		</div>
	    <br/>
	    <br/>
	    <br/>

	  </div>



<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js">
		
	</script>

	<script src="./script/script.js"></script>
</body>
</html>

